#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
# For IDE
#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
.idea
.vscode
.project
.DS_Store

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
# For Package Management System
#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
/src/node_modules
npm-debug.log
yarn-error.log
/vendor
/src/vendor
/resources/sass/master/node_modules/

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
# For Project
#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
.phpunit.result.cache
_ide_*.php
.htaccess
.env
.env.*
/src/.env
/src/.env.*

/src/public/hot
/src/public/storage
/src/storage/*.key

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
# For Vagrant
#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
/user-customizations.sh
/Homestead.yaml
.vagrant
*.pem
mysql_backup
postgres_backup
z_infra
z_vagrant
.env.vagrant
Vagrantfile

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
# Test file
#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
/public/test.php